@page
@model RazorPageKurs.Pages.Modul005.Moviestore.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<partial name="_MovieFormularPartial" model="Model.Movie" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
