@page
@model RazorPageKurs.Pages.Modul005.Moviestore.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<partial name="_MovieFormularPartial" model="Model.Movie" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
