@page
@model RazorPageKurs.Pages.Modul009.UploadFileModel
@{
}

<form enctype="multipart/form-data" method="post">
     <input type="file" name="datei" dirname="C:\" />


    <div>
        <input type="submit" value="Upload" />
    </div>

</form>